.library__header {
  margin-block: var(--op-space-x-large) var(--op-space-large);
}

.books {
  padding-block-end: var(--op-space-x-large);
}

.book__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--op-space-small);
  margin-block-start: var(--op-space-medium);
}

.book__pages {
  color: var(--op-color-neutral-base);
  font-size: var(--op-font-small);
}
